<article id="Confirmation">
    <section id="Page">
        <center>
             <table>
                 <tr>
                     <td>
                         <div class="roundCorners" style="background: url('@Url.Content("~/uploads/AttorneyOutingHeader.jpg")'); width: 571px; height: 212px; "></div>
                    </td>
                 </tr>
                 <tr>
                     <td>
                        <P>
                            <br />
                            <br />
                            <span class="caption">Your registration is complete.</span>
                        </P>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <P>
                             If you have any questions, please contact
                             <a href="mailto:cbarrera@kasowitz.com?Subject=Firm%20Outing" target="_top">Crystal Barrera</a> at (212) 547-1328 or
                             <a href="mailto:SDulkis@kasowitz.com?Subject=Firm%20Outing" target="_top">Stacie Dulkis</a> at (212) 547-1428.
                         </P>
                     </td>
                 </tr>
                 <tr>
                     <td style="height:100px"></td>
                 </tr>
             </table>
        </center>
    </section>
</article>
